<!DOCTYPE html>
<html>
<head>
    <title>Create Accounts</title>
<style>
 body {
    background-color : #E9E9F0;
    margin: 2cm 12cm 3cm 12cm;
    padding: 0;

}

p.submit { text-align: center; }


</style>
</head>
<body>
    <div style="border:10px solid #ccc;width:520px; align="right" ">
        <div style="padding:5px 5px 20px 5px">
            <div style="float:right;font-weight:bold;width:500px;background: #148fff;color: #fff;padding: 20px 20px;">Create Account</div>
            <div style="clear:both"></div>
        </div>


    <center>
    <form action=""  method="post">
        {% csrf_token %}
        <table width="100%" border="0" cellpadding="4" cellspacing="1">
        
        
         <tr>
             <td align="right">Customer id: </td>

             <td>
                <input type="Number" name="post_aid" id="post_aid" value=" " style="width: 21.5em"/><br />
             </td>
         </tr>


         <tr>
             <td align="right">Account Type: </td>

             <td>
                <input type="radio" name="type" value="public">Public<br>
                <input type="radio" name="type" value="student">Student<br>
                <input type="radio" name="type" value="senior">Senior Citizen<br>
                <input type="radio" name="type" value="minor">Minor<br>
                
             </td>
         </tr>


         <tr>
             <td align="right">Opening Balance: </td>

             <td>
                <select name="obal">
                    <option value="op">Opening Balance</option>
                    <option value="five">500</option>
                    <option value="thou">1000</option>
                    <option value="ten">10000</option>
                   
                </select><br />
             </td>
         </tr>

         <tr>
             <td align="right">Account type: </td>

             <td>
                <select name="typ">
                    <option value="at">Account Type</option>
                    <option value="sav">Savings</option>
                    <option value="cur">Current</option>
                    <option value="fix">Fixed</option>
                
                
                   
                </select><br />
             </td>

         </tr>


       
        <tr>
             <td>
            
                <p class="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Create" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            
            
             </td>
         </tr>

        </table>
    </form>
    </center>
</div>
    
</body>
</html>