<html>
<head>
    <title>Account Details</title>
    <style>
a:link    {color:#1919FF; background-color:#CCFFCC; text-decoration:underline}
a:visited {color:#003300; background-color:transparent; text-decoration:none}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:underline}
a:active  {color:#1919FF; background-color:transparent; text-decoration:underline}
a { font-size:100%; font-family:"Times New Roman", Georgia, Serif;}
{% load staticfiles %}
</style>

</head>

<body>
        <h1 style="color:blue"><center>{{page_title}}</center></h1>
        <marquee><h3 style="color:#9999FF">{{page_body}}</h3></marquee>
        <br>       
        
        <center>
        <pre>   
<b><a href="{% url 'bank:create_store' %}" target="_self">Create Account</a>     <a href="{% url 'bank:modify_page' %}" target="_self">View Profile</a>     <a href="{% url 'bank:modify_page' %}" target="_self">Modify Profile</a>       <a href="{% url 'bank:delete_page' %}" target="_self">Transfer Funds</a>       <a href="{% url 'bank:delete_page' %}" target="_self">Transaction Summary</a>       <a href="{% url 'bank:delete_page' %}" target="_self">Delete Account</a>    <a href="{% url 'bank:delete_page' %}" target="_self">LogOut</a>
        </b>

        </pre>
        <img src="{% static "bank/images/piggy.jpg" %}" alt="My image" height=300px width=500px/>
        
        </center>

</body>
</html>