<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
<style>
 body {
    background-color : #E9E9F0;
    margin: 2cm 12cm 3cm 12cm;
    padding: 0;

}

p.submit { text-align: center; }


</style>
</head>
<body>
    <div style="border:10px solid #ccc;width:520px; align="right" ">
        <div style="padding:5px 5px 20px 5px">
            <div style="float:right;font-weight:bold;width:500px;background: #148fff;color: #fff;padding: 20px 20px;">New User Registration</div>
            <div style="clear:both"></div>
        </div>


    <center>
    <form action="{% url 'bank:register_check' %}" method="POST">
        {% csrf_token %}
        <table width="100%" border="0" cellpadding="4" cellspacing="1">
        
        
         <tr>
             <td align="right">Customer id: </td>

             <td>
                <input type="Number" name="post_identify" id="post_identify" value=" " style="width: 21.5em"/><br />
             </td>
         </tr>


         
          <tr>
             <td align="right">First Name: </td>

             <td>
                <input type="Text" name="post_fname" id="post_fname" value=" " size=35 /><br />
             </td>
         </tr>


        
          <tr>
             <td align="right">Last Name: </td>

             <td>
                <input type="Text" name="post_lname" id="post_lname" value=" " size=35 /><br />
             </td>

         </tr>


         
         <tr>
             <td align="right">Address: </td>
             <td>
                <textarea name="post_addr" id="post_addr" rows=7 cols=34></textarea>
             </td>
         </tr>

        
         <tr>
             <td align="right">City: </td>

             <td>
                <select name="city">
                    <option value="ss">Select State</option>
                    <option value="che">Chennai</option>
                    <option value="coim">Coimabatore</option>
                    <option value="bang">Bangalore</option>
                    <option value="mum">Mumbai</option>
                    <option value="pun">Pune</option>
                    <option value="kol">Kolkata</option>
                    <option value="ahm">Ahmedabad</option>
                </select><br />
             </td>

         </tr>
         
        
         <tr>
             <td align="right">State: </td>
             <td>
                <select name="state">
                    <option value="sc">Select City</option>
                    <option value="che">Tamil Nadu</option>
                    <option value="coim">Karnataka</option>
                    <option value="bang">Maharastra</option>
                    <option value="mum">Gujarat</option>
                    <option value="pun">West Bengal</option>
                </select>
            <br />
             </td>
         </tr>

        <tr>
             <td align="right">Email: </td>

             <td>

                <input type="email" name="email" style="width: 21.5em"/>
            </td>
        </tr>

         
         <tr>
             <td align="right">Mobile Number: </td>

             <td>
                <input type="Number" name="post_mob" id="post_mob" value=" " style="width: 21.5em"/><br />
             </td>
         </tr>

        
         <tr>
             <td align="right">SSN: </td>

             <td>
                <input type="Number" name="post_ssn" id="post_ssn" value=" " style="width: 21.5em"/><br />
             </td>
         </tr>

        
         {# <tr>
             <td align="right">Joining Date: </td>

             <td>
                <input type="Date" name="post_dat" id="post_dat" value=" "/><br />
             </td>
         </tr> #}

          <tr>
             <td align="right">Create User Name: </td>

             <td>
                <input type="Text" name="post_username" id="post_username" value=" " size=35 /><br />
             </td>
         </tr>
         
         <tr>
             <td align="right">Create Password: </td>

             <td>
                <input type="Password" name="post_pwd" id="post_pwd" size=35/><br />
             </td>
         </tr>

         <tr>
             <td align="right">Retype Password: </td>

             <td>
                <input type="Password" name="post_rpwd" id="post_rpwd" size=35/><br />
             </td>
         </tr>

         

         <tr>
             <td>
            
                <p class="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Register" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            
            
             </td>
         </tr>



        </table>
    </form>
    </center>
</div>
    
</body>
</html>