<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
<style>
 body {
    background-color : #E9E9F0;
    margin: 2cm 12cm 3cm 12cm;
    padding: 0;

}

p.submit { text-align: center; }


</style>
</head>
<body>
    <div style="border:10px solid #ccc;width:520px; align="right" ">
        <div style="padding:5px 5px 20px 5px">
            <div style="float:right;font-weight:bold;width:500px;background: #148fff;color: #fff;padding: 20px 20px;">New User Registration</div>
            <div style="clear:both"></div>
        </div>


    <center>
    <form action="{% url 'bank:register_check' %}" method="POST">
        {% csrf_token %}
        <table width="100%" border="0" cellpadding="4" cellspacing="1">
        
         
          <tr>
             <td align="right">First Name: </td>

             <td>
                <input type="Text" name="post_fname" id="post_fname" size=35 required><br />
             </td>
         </tr>


        
          <tr>
             <td align="right">Last Name: </td>

             <td>
                <input type="Text" name="post_lname" id="post_lname" size=35 required><br />
             </td>

         </tr>


         
         <tr>
             <td align="right">Address: </td>
             <td>
                <textarea name="post_addr" id="post_addr" rows=7 cols=34 required></textarea>
             </td>
         </tr>

        
         <tr>
             <td align="right">City: </td>

             <td>
                <select name="city" required>
                    <option value="sc">Select City</option>
                    <option value="chennai">Chennai</option>
                    <option value="coimbatore">Coimabatore</option>
                    <option value="bangalore">Bangalore</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="pune">Pune</option>
                    <option value="kolkata">Kolkata</option>
                    <option value="ahmedabad">Ahmedabad</option>
                </select><br />
             </td>

         </tr>
         
        
         <tr>
             <td align="right">State: </td>
             <td>
                <select name="state" required>
                    <option value="ss">Select State</option>
                    <option value="tamil nadu">Tamil Nadu</option>
                    <option value="karnataka">Karnataka</option>
                    <option value="maharastra">Maharastra</option>
                    <option value="gujarat">Gujarat</option>
                    <option value="west bengal">West Bengal</option>
                </select>
            <br />
             </td>
         </tr>

        <tr>
             <td align="right">Email: </td>

             <td>

                <input type="email" name="email" style="width: 21.5em" required>
            </td>
        </tr>

         
         <tr>
             <td align="right">Mobile Number: </td>

             <td>
                <input type="Number" name="post_mob" id="post_mob" style="width: 21.5em" required/><br />
             </td>
         </tr>

        
         <tr>
             <td align="right">SSN: </td>

             <td>
                <input type="Number" name="post_ssn" id="post_ssn" style="width: 21.5em" required/><br />
             </td>
         </tr>

         <tr>
             <td align="right">Joining Date: </td>

             <td>

                <input type="date" name="jdate" style="width: 21.5em" required>
            </td>
        </tr>
        

          <tr>
             <td align="right">Create User Name: </td>

             <td>
                <input type="Text" name="post_username" id="post_username" size=35 required/><br />
             </td>
         </tr>
         
         <tr>
             <td align="right">Create Password: </td>

             <td>
                <input type="Password" name="post_pwd" id="post_pwd" size=35 required/><br />
             </td>
         </tr>

         <tr>
             <td align="right">Retype Password: </td>

             <td>
                <input type="Password" name="post_rpwd" id="post_rpwd" size=35 required/><br />
             </td>
         </tr>

         

         <tr>
             <td>
            
                <p class="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Register" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            
            
             </td>
         </tr>



        </table>
    </form>
    </center>
</div>
    
</body>
</html>